extends ../layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/css/cart.css")

block content
  main
    if products.length > 0
      ul.cart__item-list
        each product in products
          li.cart__item
            h1 #{ product.title }
            h2 #{ product.cartItem.quantity }
            form(
              method="post"
              action="/delete-cart-item"
            )
              input(
                name="id"
                type="hidden"
                value=product.id
              )
              button.btn.danger(type="submit") Delete
      hr
      .centered
        form(
          method="post"
          action="create-order"
        )
          button.btn(type="submit") Order Now!!
    else
      h1 No Products in Cart!
